import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'
@import 'jeet'
// edit()

import('../blocks/**/*')

.page
	display flex
	min-height 100vh
	flex-direction column

.main
	flex 1 0 auto
