.navigation
	display block
	height 75px
	line-height 73px
	background-color #363a5b

	&__link
		font-family FjallaOne
		font-size 16px
		font-weight 400
		text-transform uppercase
		color #fff

		&_active
			color #1cc9e4
			border-bottom 2px solid #1cc9e4
