include ../main-header/main-header
include ../content-section/content-section
include ../blog-section/blog-section
include ../pagination/pagination
include ../subscribe-section/subscribe-section


mixin page()
	+b('body').page&attributes(attributes)
		// Header section
		+main-header
		// Content section
		main
			+content-section.section
				// Blog section
				+blog-section(getData('posts')).container
					+pagination.center
		+scripts(['app.min.js'])
