.blog-post
	margin-bottom 25px
	display block
	background-color #363a5b

	&__date
		margin-top 10px
		font-family Karla
		font-size 13px
		font-weight 700
		text-transform uppercase
		color rgba(255, 255, 255, .4)

	&__title
		margin-top 20px
		font-family PlayfairDisplay
		font-size 20px
		font-weight 700
		line-height 30px
		color white
		text-transform capitalize

	&__expand
		padding-bottom 40px !important
		border-top none !important

	&__link
		margin 0 !important
		font-family Karla !important
		font-size 16px !important
		font-weight 400 !important
		color #1cc9e4 !important
		text-transform capitalize !important
