.subscribe-section
	padding-y(40px)
	display block
	background-color #5f6edc


	&__heading
		+mobile()
			font-size 20px
		font-family PlayfairDisplay
		font-size 30px
		font-weight 700
		color white

	&__form
		margin-top 30px

	&__label
		margin-top 10px
		font-family Karla
		font-size 15px
		font-weight 400
		color rgba(255, 255, 255, .5)
