.banner
	display block
	height 328px

	&__text
		position relative
		padding-top 135px
		color white

	&__label
		position absolute
		top 60px
		font-family Karla
		font-size 13px
		font-weight 700
		text-transform uppercase
		transform rotate(-90deg)

	&__title
		margin 0
		font-family PlayfairDisplay
		font-size 50px
		font-weight 700
		line-height 60px

	&__subtitle
		margin-top 20px
		font-family Karla
		font-size 14px
		font-weight 700
		font-style italic
