.side-navigation
	display block
	background-color #363a5b

	&__link
		font-family FjallaOne
		font-size 16px
		font-weight 400
		text-transform uppercase
		color #fff !important

		&_active
			color #1cc9e4 !important
			border-right 4px solid #1cc9e4
